alabaster==0.7.10
APScheduler==3.5.3
arrow==0.13.0
asn1crypto==0.24.0
attrs==17.4.0
Automat==0.7.0
Babel==2.5.3
beautifulsoup4==4.6.0
binaryornot==0.4.4
bleach==2.1.1
boto==2.49.0
boto3==1.9.71
botocore==1.12.71
bs4==0.0.1
bz2file==0.98
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
Click==7.0
colorama==0.3.9
constantly==15.1.0
cookiecutter==1.6.0
cookiejar==0.0.2
cryptography==2.5
cssselect==1.0.1
cycler==0.10.0
decorator==4.1.2
docutils==0.14
entrypoint==0.1.5.dev0
entrypoints==0.2.3
ez-setup==0.9
future==0.17.1
gensim==3.6.0
html5lib==1.0b10
hyperlink==18.0.0
idna==2.6
imageio==2.2.0
imagesize==0.7.1
incremental==17.5.0
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.0.3
jedi==0.11.0
Jinja2==2.9.6
jinja2-time==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
Keras==2.0.8
lazy-object-proxy==1.3.1
libtiff==0.4.2
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.7.4
nbconvert==5.3.1
nbformat==4.4.0
netifaces==0.10.6
nltk==3.4
notebook==5.2.0
numpy==1.14.3
olefile==0.45.1
opencv-python==3.4.0.12
pager==3.3
pandas==0.20.3
pandocfilters==1.4.2
parsel==1.5.1
parso==0.1.0
pickleshare==0.7.4
Pillow==5.0.0
plotly==2.2.1
pluggy==0.6.0
poyo==0.4.2
prompt-toolkit==1.0.15
psutil==5.4.3
py==1.5.2
pyasn1==0.4.5
pyasn1-modules==0.2.3
pybst==1.0
pycparser==2.18
PyDispatcher==2.0.5
pyflakes==1.6.0
Pygments==2.2.0
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.2.0
PyQRCode==1.2.1
pyquery==1.3.0
pyserial==3.4
pytest==3.4.0
pytest-platform-markers==0.1.0
python-dateutil==2.6.1
pythonds==1.2.1
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.1
QtPy==1.3.1
queuelib==1.5.0
requests==2.18.4
rope==0.10.7
rope-py3k==0.9.4.post1
s3transfer==0.1.13
scikit-learn==0.19.1

Scrapy==1.5.2
selenium==3.6.0
service-identity==18.1.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.7
six==1.11.0
sklearn==0.0
smart-open==1.7.1
snowballstemmer==1.2.1
Sphinx==1.6.7
sphinxcontrib-websupport==1.0.1
testpath==0.3.1
Theano==0.9.0
tornado==4.5.2
traitlets==4.3.2
Twisted==18.9.0
tzlocal==1.5.1
urllib3==1.22
w3lib==1.20.0
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.5.2
widgetsnbextension==3.0.6
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
yml==0.0.1
zope.interface==4.6.0
